@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans';
    font-style: 14px;
    color: #fff;
}

.container {
    width: 1440px;
    max-width: 100%;
    padding: 20px;
    margin: auto;
}


/* Header */

header {
    background-color: hsl(217, 28%, 15%);
    background-image: url(./images/bg-curvy-desktop.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 150px;
}

.logo {
    width: 150px;
}

img {
    max-width: 100%;
}

.btn {
    border-radius: 50px;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 15px 60px;
    border: 0;
    font-weight: bold;
    color: #fff;
}

h1,
h3,
h4,
h5,
h6,
button {
    font-family: 'Raleway';
}

h6 {
    margin: 0;
    opacity: 70%;
}

p {
    line-height: 1.5;
}


/* Navigation Bar */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.nav-ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px 20px;
}

.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}


/* Intro */

.intro {
    margin: 50px auto;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.intro p,
.intro h1,
.intro img {
    line-height: 1.7;
    padding: 0 10px;
}


/* Feature */

.feature {
    margin: 40px auto;
    width: 500px;
    max-width: 100%;
    text-align: center;
    padding: 0 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Productive */

.productive {
    display: flex;
    flex-wrap: wrap;
    margin: 130px auto;
    justify-content: center;
    align-items: center;
}

.product-img {
    object-fit: contain;
    padding-left: 50px;
}

.product-text {
    flex: 1;
    margin: auto 50px auto;
    line-height: 1.7;
}

.product-text a {
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 5px;
}

.product-text h1 {
    line-height: 1.4;
}


/* Testimonial */

.testimonials {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 32px -2px;
}

.testimonial {
    background-color: hsl(219, 30%, 18%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    flex: 1;
    border-radius: 5px;
    margin: 10px 20px;
    padding: 25px 30px;
    line-height: 1.7;
    min-width: 350px;
}

.testimonial .user {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.testimonial .user img {
    border-radius: 50%;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.user h5 {
    margin: 0;
}


/* SignUp */

form {
    background-color: hsl(217, 28%, 15%);
    margin: 100px auto -140px;
    padding: 50px 100px 20px;
    max-width: 1080px;
    width: auto;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}

.form-control {
    padding: 20px;
}

.form-control input {
    margin: 20px 25px;
}

input {
    padding: 14px 60px;
    border-radius: 50px;
    border-style: none;
    min-width: 245px;
    width: 500px;
    max-width: 800px;
}


/* Footer */

footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 220px;
}

footer .logo {
    width: auto;
    margin: 40px 0 0 45px;
}

footer .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 50px;
}

footer .flex {
    display: flex;
    flex: 1;
}

.grid ul li {
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.grid ul img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.loc {
    display: flex;
    line-height: 2;
}

.loc img {
    margin-left: 8px;
}

.loc p {
    margin: 12px 25px;
}

.links {
    line-height: 3;
}

.links p {
    margin: 12px 25px;
}

.social-icons {
    text-align: center;
    padding-top: 30px;
}

.social-icons a {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
    margin-left: 15px;
}

@media screen and (max-width: 375px) {
    .nav-ul {
        display: none;
        width: 100%;
    }
    .nav-ul.show {
        display: flex;
        flex-direction: column;
    }
    .hamburger {
        display: block;
    }
    .container {
        width: 375px;
        max-width: 100%;
        padding: 10px;
    }
    .logo {
        width: 100px;
        margin: 0;
    }
    header .btn {
        margin: 0 30px;
    }
    .intro img,
    .feature,
    .product-img {
        padding: 0 10px;
    }
    .productive {
        margin: 80px auto;
    }
    .product-text {
        margin: 0 20px;
    }
    .testimonials {
        background-position: 15px -10px;
    }
    .testimonial {
        margin: 10px 0;
        padding: 20px 25px;
    }
    form {
        margin: 20px 20px -200px;
        padding: 20px;
    }
    form .btn {
        padding: 15px 10px;
        margin: 0;
    }
    .form-control {
        padding: 20px;
        margin: 20px auto;
    }
    .form-control input {
        margin: 20px 0;
    }
    input {
        width: 100%;
    }
    .btn {
        width: -moz-available;
    }
    footer {
        margin: -200px auto;
        display: grid;
        padding-top: 50px;
    }
    footer .container {
        display: block;
        width: auto;
        margin: 0;
    }
    footer .logo {
        margin: 230px 0 0 45px;
    }
    footer .flex {
        display: flex;
        flex-flow: column;
    }
    .loc img {
        margin: 0;
    }
    .social-icons {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 376px) and (max-width: 720px) {
    .nav-ul {
        display: none;
        width: 100%;
    }
    .nav-ul.show {
        display: flex;
        flex-direction: column;
    }
    .hamburger {
        display: block;
    }
    .logo {
        width: 130px;
        margin: 0 5px;
    }
    nav {
        margin: 0 5px;
        padding: 0;
    }
    img {
        width: fit-content;
    }
    .productive .product-img {
        margin: 10px auto 25px;
        padding: 0;
    }
    .product-text {
        margin: auto 20px auto;
    }
    .testimonials {
        flex-flow: column;
    }
    form {
        margin: 20px 30px -200px;
    }
    button {
        padding: 5px 20px;
    }
    .form-control input {
        max-width: 100%;
        width: -moz-available;
        margin: 15px auto;
    }
    footer {
        width: 100%;
        margin: 20px auto;
        padding-top: 15px;
        display: grid;
    }
    footer .container {
        display: block;
        width: auto;
        margin: 0;
    }
    footer .logo {
        margin: 230px 0 0 45px;
    }
    footer .flex {
        display: flex;
        flex-flow: column;
    }
}

@media screen and (min-width: 721px) and (max-width: 1209px) {
    .logo {
        width: 130px;
        margin: 15px;
    }
    nav {
        margin: 0 5px;
        padding: 0;
    }
    img {
        width: fit-content;
    }
    .productive .product-img {
        margin: 10px auto 25px;
        padding: 0;
    }
    .product-text {
        margin: auto 20px auto;
    }
    .testimonials {
        flex-flow: column;
    }
    form {
        margin: 20px 30px -200px;
    }
    button {
        padding: 5px 20px;
        /* margin: 70px 25px; */
    }
    .form-control input {
        max-width: 100%;
        width: -moz-available;
        margin: 15px auto;
    }
    footer {
        width: 100%;
        margin: 20px auto;
        padding-top: 15px;
        display: grid;
    }
    footer .container {
        display: block;
        width: auto;
        margin: 0;
    }
    footer .logo {
        margin: 230px 0 0 45px;
    }
    footer .flex {
        display: flex;
        flex-flow: column;
    }
}